
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

*,::after,::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:inter;
}

body{
  padding: 2% 4%;
}
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  border: 0.6px solid  rgb(248, 243, 243);
  box-shadow: 0 0 4px 1px  rgb(150, 144, 144);
}

header > div:not(.right-header){
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  /* border: 5px solid black; */
}

header .middle-header{
  /* border: 2px solid green; */
  display: flex;
  align-items: center;
  gap: 24px;
  justify-content: flex-start;
}

header .middle-header li{
 list-style-type: none;
}
header .middle-header button{
 background-color: rgb(253, 253, 255);
 border: none;
 padding: 5px 10px;
 border-radius: 6px;
 box-shadow: 0 0 2px rgb(150, 144, 144);
}

header .right-header{
  /* border: 1px solid green; */
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 7px;
  padding: 20px;
}

.search-box{
  position: relative;
  /* border: 2px solid pink; */
}

.search-box > svg{
  position: absolute;
  left: 4px;
  top: 6px;
}
.search-box input{
 padding: 2px;
 outline: none;
 border-radius:6px;
 padding: 4px;
 border: 2px solid rgb(240, 238, 238);
}

section{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  /* border: 3px solid rgb(211, 183, 22); */
}

sidebar{
  /* border: 1px solid rgb(143, 0, 24);  */
  display: flex;
  flex: .5;
  flex-direction:column ;
  align-items: center;
  justify-content: center;
  background-color:#F6F8F9;
  /* width: 20%; */
}
 sidebar .sidebar-row1,
 sidebar .sidebar-row2,
 sidebar .sidebar-row3,
 sidebar .sidebar-row4,
 sidebar .sidebar-row5,
 sidebar .sidebar-row6,
 sidebar .sidebar-row7,
 sidebar .sidebar-row8,
 sidebar .sidebar-row9{
  /* border: 2px solid red ; */
  display: flex;
  align-items: center;
  justify-content:flex-start;
  gap: 8px;
  width: 100%;
  margin-top: 21px;
 padding: 4px, 12px, 4px, 8px; 

  
}

sidebar .sidebar-row3{
  background-color: #D7EDFF;

}
 sidebar .sidebar-row1 p{
  color: gray;
  font-size: 10px;
  gap: 20px;
  width: 100%;
}

sidebar .sidebar-row4{
  padding-bottom: 29px;
  border-bottom: 3px ;
  box-shadow: 0 7px 5px -10px rgb(150, 144, 144);
}

/*main */
main{
flex: 3;

}
.main-row1{
  /* border: 1px solid black; */
  width: 40%;
  padding: 15px 0;
}
.main-row1 span{
  font-size: 11px;
  color: gray;
}

.main-row2{
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-between;
}
.main-row2 > div{
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}
.main-row2 > div >button{
 background-color: rgb(80, 80, 177);
 color: white;
 padding: 4px;
 outline: none;
 border: none;
 border-radius: 5px;
}

.main-row3{
  margin: 10px 0;
  /* border: 3px solid red;  */
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.main-row3-left{
  /* border: 2px solid yellow; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  /* gap: 20px; */
}

.main-row3-left-search-box{
  /* border: 2px solid green; */
  position: relative;
}
.main-row3-left-search-box input{
 border-radius: 2px;
 border:1px solid rgb(235, 229, 229);
 border-radius: 3px;
 padding: 5px;
}
.main-row3-left-search-box >svg{
  position: absolute;
  left: 2px;
  top: 5px;
}
/* .main-row3 img{
  
} */
.main-row3-left-avarter{
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: relative; */

}
.main-row3-left-avarter img{
  /* position: absolute; */
  width: 100px;
 
}

.main-row3-middle{
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 2px solid yellow; */
  font-size: 13px;
}

.main-row3-right-empty{
  flex: 1;
  /* border: 2px solid yellow; */
}

.main-body{
  /* border: 2px solid yellow; */
  display: flex;
  justify-content: space-between;
  align-items:baseline;
  gap: 8px;
}

.main-body .todo{
  flex: 1;
  background-color: #F6F8F9;
  padding: 12px 8px 12px 8px;
  /* border: 2px solid yellow; */
  
}

.main-body .todo-card,
.main-body .in-progress-card,
.main-body .Done-card
{
  box-shadow: 0 0 10px rgb(150, 144, 144);
  margin-bottom: 12px;
  font-size: 10px;
  background-color: white;
  border-radius: 6px;
  padding: 16px;
}


span.todo-card-state,
span.in-progress-card-state,
span.Done-card-state
{
  display: block;
 margin: 8px 0px;
 width: 20%;
 background-color: yellow;
 /* border: 2px solid black; */
}


.main-body .todo-card .todo-card-icon-row,
.main-body .in-progress-card .in-progress-card-icon-row,
.main-body .Done-card .Done-card-icon-row
{
  display: flex;
  justify-content: space-between;
  align-items:center;
  /* border: 2px solid blue; */
  width: 100%;
}

/* .left-icons-row{
  border: 2px solid red;
position: relative;
width: 50%;
/* padding: 5px; */
/* } */ 


.todo-card .todo-card-icon-row .left-icons-row span{
  position: absolute;
  left: 24.3%;
 height: 25px;
 width: 25px;
  /* border: 2px solid red; */
  font-size: 14px;
  padding: 7px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  /* background-color: rgba(114, 110, 110, 0.082); */
  background-color: rgba(3, 3, 3, 0.1)

}

.todo-card .todo-card-icon-row .left-icons-row span::before{
  content: attr(data-digit);
  font-size: 24px;
  /* color: rgb(0, 0, 0); */
}


 .in-progress-card .in-progress-card-icon-row .left-icons-row span{
  position: absolute;
  right: 47.7%;
 height: 25px;
 width: 25px;
  /* border: 2px solid red; */
  font-size: 14px;
  padding: 7px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  /* background-color: rgba(114, 110, 110, 0.082); */
  background-color: rgba(3, 3, 3, 0.1)

}


.in-progress-card .in-progress-card-icon-row .left-icons-row span::before{
  content: attr(data-digit);
  font-size: 24px;
  /* color: rgb(0, 0, 0); */
}

.Done-card .Done-card-icon-row .left-icons-row span {
  position: absolute;
  right: 21.7%;
 height: 25px;
 width: 25px;
  /* border: 2px solid red; */
  font-size: 14px;
  padding: 7px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  /* background-color: rgba(114, 110, 110, 0.082); */
  background-color: rgba(3, 3, 3, 0.1)

}


.Done-card .Done-card-icon-row .left-icons-row span::before{
  content: attr(data-digit);
  font-size: 24px;
  /* color: rgb(0, 0, 0); */
}



 .main-body .in-progress{
  flex: 1;
  background-color: #F6F8F9;
  padding: 12px 8px 12px 8px;

  /* border: 2px solid red; */
}

.main-body .Done{
  /* border: 7px solid rgb(10, 9, 9); */
  flex: 1;
  background-color: #F6F8F9;
  padding: 12px 8px 12px 8px;
}
.in-progress-heading,
.Done-heading,
.todo-heading
{
  font-size: 14px;
  color: rgb(179, 178, 178);
  background-color: #F6F8F9;

}
